*{
		box-sizing: border-box;
	}

		h1 {
			text-align: center;
		}
		
		@media (min-width: 1001px) {
  .heading1,.p1,.p2,.p3 {
  	float: left;
  	border: 1px solid white;
  }

    div{
  border: 1px solid white;
  background-color: grey;
  width: 80%;
  height: 250px;
  margin-left:auto;
  font-family: Helvetica;
  color: white;
}

		.heading1 {	
			text-align: right;
			position: relative;
			width:70px;
			height:20px;
			background-color: red;
			left:0px;
			float: right;
			border: 1px solid white;
			


		}

		.p1{
			 float: left;
			width: 30%;
			background-color: white;
			border: 1px solid white;
			}
			
		.p2{
			 float: left;
			width: 30%;
			background-color: white;
		}
		
		.p3{
			 float: left;
			width: 30%;
			background-color: white;
		}
		
			
}
@media (min-width: 800px) and (max-width: 1000px) {	.heading2, .p11,.p22,.p33 {
    float: left;
    border: 1px solid white;
    
  }
  div{
  border: 1px solid white;
  background-color: grey;
  width: 100%;
  height: 200px;
  float: right;  
  margin-left: 100px;
  font-family: Helvetica;
  color: white;
}
.sa{
	border: 1px solid white;
  background-color: grey ;
  width: 100%;
  height: 200px;
  float: left;  
  font-family: Helvetica;
  color: white;
	margin-left:-5px;
}

#div
{width: 90%;
	margin-top: 50px;
	margin-left: 10px;
	margin-right: 80px;    
}
		.heading2 {	
			position: relative;
	        width:40px;
			height:20px;
			background-color: red;
			border: 1px solid;
			float: right;
			text-align: right;
			}
		.p11{
			float: left;
			width: 25%;
			background-color: white;
			}
			
		.p22{
			float: left;
			width: 25%;
			background-color: white;
		}
		
		.p33{
			float: left;
			width: 70%;

			background-color: white;
		}
	}
@media (min-width: 0px) and (max-width: 799px) {
	.heading3, .p111,.p222,.p333 {
    
    border: 1px solid white;

  }
div{
  background-color: grey;
  font-family: Helvetica;
  color: white;
}
		.heading3 {	
			position: relative;
	        width: 30%;
			background-color: red;
			margin-right: 0px;
			border: 1px solid;
			float: right;
			text-align: right;
			}
		.p111{
			width: 50%;
			margin-left: 0px;
			background-color:blue;
			}
			
		.p222{
			width: 50%;
			margin-left: 0px;
			background-color:blue;
		}
		
		.p333{
			width: 50%;
			margin-left: 0px;
			background-color:blue;
		}
	}
	